  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

  .hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .syllable-hero-row {
    position: absolute;
    left: 0;
    top: 35vh;
    right: 0;
    bottom: 0;
    text-align: center;
  }

  .syllable-hero-row .syllable {
    mix-blend-mode: difference;
    z-index: -1;
    transition: all 0.1s;
  }

  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }

  .hero-btn-row button {
    font-weight: bold;
  }

  .syllable:hover{
    /* background-image: url("./Logos/IMG_4462.JPG") !important; */
    cursor: pointer;
    border: 5px solid #6b6b6b82;
    /* mix-blend-mode: unset; */
    background-size: 100%;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }